---
import Layout from "@layouts/Layout.astro";
import atlassian from "../images/atlassian.jpg";
import cluey from "../images/cluey.jpg";
import skyciv from "../images/skyciv.jpg";
import Experience from "@components/Experience.astro";
import ListDisc from "@components/ListDisc.astro";
import Section from "@components/Section.astro";
import H2 from "@components/H2.astro";
import Hr from "@components/Hr.astro";
import ListItem from "@components/ListItem.astro";
import Paragraph from "@components/Paragraph.astro";
---

<Layout title="William Kuang. Full Stack Software Engineer.">
  <main class="max-w-3xl mx-auto p-4">
    <Section>
      <h1 class="mb-3 text-5xl font-bold">William Kuang</h1>
      <p class="font-bold">Full Stack Software Engineer</p>
    </Section>
    <Section>
      <H2>About</H2>
      <Paragraph>
        I'm a passionate and proactive front-end developer comfortable working
        in agile teams composed of designers, project managers, marketers, SEO
        experts, QA, and other developers alike. I also have roots in the
        startup space, working closely with founders in a truly lean team.
      </Paragraph>
    </Section>
    <Section>
      <H2>Full Time Experience</H2>
      <Experience
        jobTitle="Software Engineer"
        imgSrc={atlassian}
        imgAlt="Atlassian"
        company="Atlassian"
        dateFrom="Oct 2020"
        dateTo="Present"
        location="Sydney, New South Wales, Australia"
      />
      <Hr />
      <Experience
        jobTitle="Front-end Developer"
        imgSrc={cluey}
        imgAlt="Cluey"
        company="Cluey"
        dateFrom="Dec 2018"
        dateTo="Oct 2020"
        duration="1 year, 11 months"
        location="Sydney, New South Wales, Australia"
      >
        <div class="mt-3">
          <Paragraph>
            Technical lead for the SEO critical customer website for the
            company, working collaboratively with the marketing team, designers,
            and product owners to deliver stunning, consistent, and accessible
            UI experiences.
          </Paragraph>
          <ListDisc>
            <ListItem>
              Managed the corporate website's local, staging, and production
              environments together with deployment workflows.
            </ListItem>
            <ListItem>
              Crafted reusable React components for stateful interactive
              experiences.
            </ListItem>
            <ListItem>
              Authored bespoke CSS without the need for a framework (e.g.
              Bootstrap) to achieve design perfect UI with modern CSS tooling
              including SASS (SCSS), CSS Flexbox, and CSS Grid.
            </ListItem>
            <ListItem>
              Composed code compatible with modern and legacy browsers alike
              (IE11, Chrome, Firefox, Safari, and Edge).
            </ListItem>
            <ListItem>
              Implemented responsive development to turn design into reality for
              a number of complex UI components such as the <a
                href="https://clueylearning.com.au/blog"
                target="_blank">newly crafted blog</a
              >
            </ListItem>
            <ListItem>
              Architected a reusable, component based UI, allowing the
              non-development marketing team to compose beautifully consistent
              pages within a familiar Wordpress interface.
            </ListItem>
          </ListDisc>
        </div>
      </Experience>
      <Hr />
      <Experience
        jobTitle="Head of Development"
        imgSrc={skyciv}
        imgAlt="SkyCiv"
        company="SkyCiv Cloud Engineering Software"
        dateFrom="Aug 2018"
        dateTo="Dec 2018"
        duration="5 months"
        location="Sydney, New South Wales, Australia"
      >
        <div class="mt-3">
          <Paragraph>
            Oversaw several small and agile software teams, working remotely and
            on separate new experimental projects for SkyCiv expanding into new
            verticals. In this role, I was responsible for setting technical
            direction, maintaining quality, and getting deep into technical
            problems.
          </Paragraph>
          <ListDisc>
            <ListItem>
              Led teams of developers in creating Greenfield cloud projects with
              JavaScript, PHP, CSS, and Python. Notably this included the
              Section Builder, Truss Hand Calculator, Server Generated Reports,
              and Connection Design.
            </ListItem>
            <ListItem>
              Implemented process controls to enhance developer productivity and
              quality. Notably this included introducing version control, unit
              testing, and ES6 to the company's workflow, improving code
              collaboration, reliability, and re-usability.
            </ListItem>
            <ListItem>
              Mentored junior developers with pair programming sessions.
            </ListItem>
          </ListDisc>
        </div>
      </Experience>
      <Hr />
      <Experience
        jobTitle="Web Developer"
        imgSrc={skyciv}
        imgAlt="SkyCiv"
        company="SkyCiv Cloud Engineering Software"
        dateFrom="Jul 2016"
        dateTo="Aug 2018"
        duration="2 years, 2 months"
        location="Sydney, New South Wales, Australia"
      >
        <div class="mt-3">
          <Paragraph>
            As the first full engineering hire at SkyCiv, I worked closely with
            the CTO to build out new and highly impactful products. I worked
            across frontend, backend, and devops to create solutions which
            scaled across hundreds of users. Working at such an early stage
            startup environment, I was accustomed with high velocity, wearing
            many hats, and feeling empowered to make the changes that I saw
            needed to happen.
          </Paragraph>
          <ListDisc>
            <ListItem>
              Technical lead for the overhauled Section Builder project
              including R&D and implementation in JavaScript and Node JS.
            </ListItem>
            <ListItem>
              Lead and architect for the new Connection Design software product.
            </ListItem>
            <ListItem>
              Design and creation of new user documentation system to increase
              user engagement and onboarding experience.
            </ListItem>
            <ListItem>
              Represented SkyCiv at the Australasian Structural Engineering
              Conference
            </ListItem>
          </ListDisc>
        </div>
      </Experience>
    </Section>
  </main>
</Layout>
