---
export interface Props {
  title: string;
  metaDescription: string;
}
import favicon from "../images/favicon.png";
const { title, metaDescription } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={metaDescription} />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
